<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
  <header class="site-header">
    <div class="container">
       <h1>Ignitor</h1>
    </div>
  </header>
  <main id="main" class="site-main" role="main" ng-view></main>
  <footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
      <div class="site-info">
        <a href="http://space-rocket.com/">Proudly powered by Space-Rocket CMS</a>
      </div>
    </div>
  </footer>
  <script src='/app.js'></script>
  </body>
</html>
